<label for="name">Name</label><input id="name" type="text">
<label for="">Trading Name</label><input type="text">
<label for="">Company Registration</label><input type="text">
<label for="">Email</label><input type="text">
<label for="">Contact</label><input type="text">
<label for="">Experience</label><input type="text">
<label for="">Location</label><input type="text">
<label for="">About</label><input type="text">
<!-- |Name          |Trading Name|Company Reg   |Email            |Contact   |Experience|Working hours|Location|Portfolio|Socials                                     |About                    |
|John Dillinger|Dilling Co  |1996/394028/01|john@dillinger.co|0782356891|10 years  |08:00 - 16:00|Cresta  |Plumbing |Twitter: @dillingerco,Instagram:@dillingerco|We are a plumbing company|
And he registers -->