<form [formGroup]="customerProfile" (ngSubmit)="submit()">
<div>
        <label for="name">Name</label>
        <input formControlName="name" type="text" id="name">
    </div>

    <div>
        <label for="name">Surname</label>
        <input formControlName="surname" type="text" id="surname">
    </div>

    <div>
        <label for="name">Email</label>
        <input formControlName="email" type="text" id="email">
    </div>

    <div>
        <label for="name">Contact</label>
        <input formControlName="contact" type="text" id="contact">
    </div>

    <div>
        <button type="submit" id="submit">Submit</button>
    </div>
</form>
